@charset "EUC-KR";
.hidden{
	display: none;
}

.clearfix::after {
	content: "";
	clear: left;
	display: block;
	clear: both;
    display : block;
    celar :right;
} 

.content-container{
	
	min-height: inherit;
	height: 100%;
	width: 1400px;
	margin: auto;
	background: inherit;
		
}


 
/* #visual{
	 
} */








/* --------------------------------------------------- */


#home {
	color: navy;
}

#header{
	min-height: 150px;
	background: #ffffff;
}

	#header a{
		float: left;
		padding-left: 10px;
		padding-top: 30px;
	}
	
	#header li{
		float: left;
		padding-left: 10px;
		padding-top: 50px;
	}
	
			#head-main-menu{
	      display: inline-block;
	      padding-top: 10px;
	   	}
	   
	     	#head-main-menu ul{
	         overflow: auto;
	      	}
	   
	     	#head-main-menu li{
	 
	         float: right;
	         padding-left: 300px;
	        /*  background: url("../images/bg-list.PNG") repeat  center; 
	         */ 
	        font-family: 맑은 고딕, 고딕, sans-selif;
	         font-size: 25px;
	         font-weight: bold;
	      }
	      
	      #head-main-menu li:first-child{
	         padding-left: 50px;
	
	      }
	
	      #head-main-menu li:last-child{
	         padding-left: 150px;
	         padding-right: 10px;
	
	      }
	      
	
	
	
	
/* --------------------------------------------------- */

#body{
/* 	723 */
	min-height: 723px;
	width: 100%;
	margin : auto;
	/* margin-bottom: 200px; */
	/*  background: #ffff80;  */

}

	#body ul, li{
		padding-left: 236.5px;
		padding-top: 25px;
	
		display : inline-block;
	/* 
	    position : relative; */
	}
	
	
#body li{
	
	 float: left;
  /*  padding-left: 15px; */
   padding-top : 15px;
   padding-left: 5px;
  
   background : #ffffff;
   border: 1px solid #c0c0c0;
    height : 50px;
   width:180px;
  
}
	#body a{
	  font-family: 맑은 고딕, 고딕, sans-selif;
      font-size: 15px;
      font-weight: bold;
      color: #000000;
      
   	text-align: middle;
	}
	
	#search-form{
/* 	top :500px;
   width: 308px;
   height: 25px;
   border: 1px solid #c0c0c0;
   vertical-align: middle;
   text */

	display : inline-block;
	 width: 928px;
   height: 50px;
	left:200px;
	padding-top:5px;
	background:#c0c0c0;
	
}
	#search-form label{
	 font-family: 맑은 고딕, 고딕, sans-selif;
      font-size: 15px;
      font-weight: normal;
      color: #ffffff;
	
}
	
	#aside {
		min-height: inherit;
		width: 30%;
		background: url("");
		margin-bottom: 50px;
		padding-top: 30px;
		float: left;
		background: #ffffff url("../images/bg-aside-title.png") no-repeat left top; 
	}

      	#aside ul{
         overflow: auto;
      }
   
    	 #aside li{

 
        font-family: 맑은 고딕, 고딕, sans-selif;
         font-size: 25px;
         font-weight: bold;
      }
      
 /*---------------------------------------------------  */     
/* 	#main{
		min-height: inherit;
		width: 70%;
	 	background: url(""); 
		margin-bottom: 50px;
		float: left;
		 background: #ffff80; 
	}

		.main-list{
	      display: inline-block;
	      padding-top: 10px;
	   	}
	   
	     	.main-list ul{
	         overflow: auto;
	      	}
	   
	     	.main-list li{
	 
	         float: left;
	         padding-left: 300px;
	         background: url("../images/bg-list.PNG") repeat  center; 
	         
	        font-family: 맑은 고딕, 고딕, sans-selif;
	         font-size: 25px;
	         font-weight: bold;
	      }
	      
	      .main-list li:first-child{
	         padding-left: 10px;
	
	      }
	
	      .main-list li:last-child{
	         padding-left: 150px;
	         padding-right: 10px;
	
	      }
	      
	      
	       .hr-list a{
	
	      } 
	
#insert-main-list{
	 background: url("../images/bg-letter-insert.PNG") no-repeat  center; 
	
} */


#main {
   float: left;
   min-height: inherit;
   padding-left: 35px;
   padding-top: 45px;
   width: 755px;
   box-sizing: border-box;
   
}
/* --------------------------------------------------- */

#footer{
	min-height: 35px;
	background: #d0d0d0;
	/* position: absolute; */
}

	#footer div{
		padding-top: 12px;
		background: #d0d0d0;
	}
	
	#footer ul{
		float: right;
	}